    .command__title {
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .command {
        background-color: $section-command-color;
    }
    .employee__description {
        padding: 30px 0;
    }
    .employee__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
        margin: 0 0 10px 0;
    }
    .employee__profession {
        font-size: 16px;
        line-height: 1.17;
        color: $paragraf-color;
        margin: 0;
        margin-bottom: 16px;
    }
    .command__container {
        flex-direction: column;
    }
    .command__list {
        max-width: 450px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;      
        gap: 30px;
        justify-content: center;
        list-style-type: none;

    @media (min-width: $screen-md-min) {
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 354px;
        }
    @media (min-width: $screen-xl-min) {
            max-width: 270px;
            flex-wrap: nowrap;
    }
}
    .command__title {
        margin: 0 0 50px 0;
    }

    .command__item {
        text-align: center;
        background-color: $main-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .command {
        padding: 94px 0;
    }

    .employee__img {
        display: block;
        width: 100%;
}