.features__title {
    display: none;
}

.features-list__heading {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.17;
    @media (max-width: $screen-sm-min) {
    text-align: center;
    margin: 0 0 10px 0;
}
}

.features-list__text {
    font-size: 14px;
    line-height: 1.7;
    color: $paragraf-color;
    margin: 0;
    @media (max-width: $screen-sm-min) {
}
}
.features {
    padding-top: 94px;
    @media (max-width: $screen-sm-min) {
        padding-top: 60px;
        }
    }
    
.features-list {
    display: flex;
    margin: 0;
    padding-left: 0;
    gap: 30px;
    list-style-type: none;
    @media (max-width: $screen-sm-min) {
        
        }
    @media (max-width: $screen-sm-min) {
        flex-direction: column;
        }
        }
    
.features-list__item {

    /*width: calc((100% - 30px*3)/4);
    @media (max-width: $screen-md-min) {
    width: calc((100% - 30px)/2);
    }*/
    @media (max-width: $screen-md-min) {
   
    max-width: calc((100% - 30px)/2);
    }
    @media (max-width: $screen-sm-min) {
    max-width: 480px;
    }

        }
    
.features-list__icon-box {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $section-command-color;
    
    @media (max-width: $screen-sm-min) {
    width: 100% ;
}
}