.features__title {
    display: none;
}

.features-list__heading {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.17;
    text-align: center;
    margin: 0 0 10px 0;
    @media (min-width: $screen-md-min) {
    text-align: left; 
}
}

.features-list__text {
    font-size: 14px;
    line-height: 1.7;
    color: $paragraf-color;
    margin: 0;
   
}
.features {
    padding-top: 60px;
    @media (min-width: $screen-xl-min) {
    padding-top: 94px;
    }
    }
    
.features-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    gap: 30px;
    @media (min-width: $screen-md-min) {
    flex-direction: row;
    flex-wrap: wrap;
}
}
    
.features-list__item {
    max-width: 450px;
    @media (min-width: $screen-md-min) {
    max-width: calc((100% - 30px)/2);
    }
    @media (min-width: $screen-xl-min) {
    max-width: calc((100% - 30px*3)/4);
    }
    }
    
.features-list__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px 0;
    border-radius: 4px;
    background-color: $section-command-color;
}