.hero__title {
    width: 360px;
    margin: 0 auto 60px auto;
    font-size: 26px;
    line-height: 1.6;
    color: $main-color;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media (min-width: $screen-md-min) {
    width: 700px;
    margin: 0 auto 30px auto;
    font-size: 44px;
    line-height: 1.36;
}
}
.hero__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-radius: 4px;
    color: $main-color;
    background: $accent-color;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-color: transparent;
}

.hero {
    align-content: center;
    padding: 118px 0;
    margin: 0 auto;
    background-color: $footer-color;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero-1600-x1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: $screen-xl-min) {
    padding: 200px 0;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero-1600-x2.jpg");
    }
}