    .mobileMenu {
    display: none;
    position: fixed;
    flex-direction: column;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background: $main-color;
    z-index: 1;
@media (min-width: $screen-md-min) {
        display: none;
}
           &.is-open {
               display: flex;
           }
       }
   .mobile-menu {
    display: flex;
   @media (min-width: $screen-md-min) {
    display: none;
   }
}
   .mobileMenu__button-close {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 15px;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        cursor: pointer;

        &:hover,
        &:focus {
            fill: $accent-color;
        }
    }
    .mobile-menu__open {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        cursor: pointer;
    
        &:hover,
        &:focus {
            fill: $accent-color;
        }
        }


    .menu-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    justify-content: left;
    letter-spacing: 0.02em;
    color: $headline-color;
    }
        .menu-list__item {
            margin: 0;
            color: inherit;
            text-decoration: none;
            transition-property: color, background-color, fill, box-shadow, border-color, opacity, visibility, transform;
            transition-duration: $trans-duration;
            transition-timing-function: $cubic;
    
            &:hover {
                color: $accent-color;
                fill: $accent-color;

            }
               &:focus {
                color: $accent-color;
                fill: $accent-color;
            }
        }
.mobile-contacts {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 0;
        margin: 0;
        margin-top: auto;
        list-style-type: none;
        font-weight: 500;
        font-size: 34px;
        justify-content: left;
        letter-spacing: 0.02em;

}
.mobile-contacts__tel {
    text-decoration: none;
    color: #2196F3;
    margin-bottom: 0;
}
.mobile-contacts__mail {
        text-decoration: none;
        font-size: 24px;
        color: $paragraf-color;
}
.mobile-social {
display: flex;
    
    padding: 0;
    margin: 64px 0 0 0;
    text-align: center;
    align-items: center;
    list-style-type: none;
}
.mobile-social__item {
    list-style-type: none;
    padding: 0 10px;
    &:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
}
        &:first-child {
        padding: 0 10px 0 0;
        }     
}
.mobile-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    margin: 0;
    color: $accent-color;
}