


.modal {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: $main-color;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    .backdrop & {
        transition-property: opacity, visibility, transform;
        transition-duration: $trans-duration;
        transition-timing-function: $cubic;
        transform: translate(-50%, -50%) scale(1);
        }
    .backdrop.is-hidden & {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility, transform;
        transition-duration: $trans-duration;
        transition-timing-function: $cubic;
        transform: translate(-50%, -50%) scale(0.1);
        }
}
.modal__button-close {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid $foter-shadow;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    &:hover,
    &:focus {
            fill: $accent-color;
        }
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    padding: 0;
    margin: 0 0 12px 0;
}

.modal__form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $paragraf-color;
    margin-bottom: 4px;
}

.modal__form-input {
    height: 40px;
    width: 100%;
    border: 1px solid $modal-border-color;
    border-radius: 4px;
    padding-left: 40px;
    .modal__input-wrapper:hover &,
    .modal__input-wrapper:focus-within & {
            border: 1px solid $accent-color;
        }
}

.modal__input-wrapper {
    position: relative;
    color: $headline-color;
    margin-bottom: 10px;
    &:hover,
    &:focus-within {
            color: $accent-color;
        }
}
.modal__input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;
}

.modal__input-comment {
    height: 120px;
    resize: none;
    width: 100%;
    border: 1px solid $modal-border-color;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    &:hover,
    &:focus {
            border: 1px solid $accent-color;
        }
    &::placeholder {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $placeholder-color;
                }
}
.modal__terms {
    display: flex;
    margin-bottom: 30px;
    margin-left: 12px;
    align-items: center;
}

.modal__button {
    background-color: $accent-color;
    border: none;
    box-shadow: 0px 4px 4px --foter-shadow;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    color: $main-color;
    align-self: center;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    &:hover,
    &:focus {
            background-color: $modal-button-hover;
        }
}
.modal__terms-link {
    color: $accent-color;
}
.modal__terms-label {
    position: relative;
    padding-left: 23px;
    font-size: 14px;
    line-height: 1.7;
    color: $paragraf-color;
    &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border: 2px solid $headline-color;
        border-radius: 2px;
    }   
    &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border: 2px solid $accent-color;
    border-radius: 2px;
    background-image: url(../../images/Vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $accent-color;
    opacity: 0;
}
}
.modal__checkbox:checked+.modal__terms-label::after {
    opacity: 1;
}