.nav-list {
display: none;
padding-left: 0;
gap: 50px;
list-style-type: none;
font-weight: 500;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.02em;
@media (min-width: $screen-md-min) {
display: flex;
margin: 0 0 0 88px;
}
@media (min-width: $screen-xl-min) {
margin: 0 0 0 92px;
    }
}
.nav-list__link {
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    transition-property: color, background-color, fill, box-shadow, border-color, opacity, visibility, transform;
    transition-duration: $trans-duration;
    transition-timing-function: $cubic;
        &:hover {
        color: $accent-color;
        fill: $accent-color;
            &::after {
            opacity: 1;
    }
    }
        &:focus {
        color: $accent-color;
        fill: $accent-color;
            &::after {
            opacity: 1;
    }
    }
&::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -32px;
    border-radius: 2px;
    background-color: $accent-color;
    opacity: 0;
    transition-property: color, background-color, fill, box-shadow, border-color, opacity, visibility, transform;
    transition-duration: $trans-duration;
    transition-timing-function: $cubic;
}
}
.nav-container {
    justify-content: left;
    display: flex;
    align-items: center;
    flex-grow: 1;

    @media (max-width: $screen-md-min) {
    justify-content: space-between;
}
    @media (max-width: $screen-sm-min) {
    display: flex;
    justify-content: space-between;
    }
} 

.nav-list__link--current {
    color: $accent-color;
    &::after {
            content: "";
            opacity: 1;
        }
}




