.page-header {
    border-bottom: 1px solid $header-border-color;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (min-width: $screen-md-min) {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    @media (min-width: $screen-xl-min) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.header-contacts {
    display: none;
    @media (min-width: $screen-md-min) {
    display: flex;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin: 0 0 0 auto;
    padding-left: 0;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin: 0 0 0 96px;
    font-size: 12px;
}
    @media (min-width: $screen-lg-min) {
    gap: 45px;
}
}
.header-contacts__tel-link, 
.header-contacts__mail-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: $paragraf-color;
    text-decoration: none;
    &:hover, 
    &:focus {
    color: $accent-color;
    fill: $accent-color;
    }
}
    .header-contacts__mail-icon,
    .header-contacts__tel-icon {
    fill: $paragraf-color;
    margin-right: 10px;
    transition-property: color, fill;
    transition-duration: $trans-duration;
    transition-timing-function: $cubic;

    .header-contacts__mail-link:hover &,
    .header-contacts__tel-link:hover &,
    .header-contacts__mail-link:focus &,
    .header-contacts__tel-link:focus & {
        color: $accent-color;
        fill: $accent-color;
    }
}
.header-contacts__mail-icon {
    width: 14px;
    @media (min-width: $screen-xl-min) {
        width: 16px;
}
}
.header-contacts__tel-icon {
    width: 10px;
    height: 14px;
    
    @media (min-width: $screen-xl-min) {
    height: 16px;
    }
}
.header-contacts__item {
    display: flex;
}
.header-contacts__tel,
.header-contacts__mail,
.header-contacts__mail-icon,
.header-contacts__tel-icon {
    transition-property: color, fill;
    transition-duration: $trans-duration;
    transition-timing-function: $cubic;
}