
.page-footer__content {
margin: 0 auto;
@media (min-width: $screen-xl-min) {
margin: 0 auto 0 0;
}
}
.footer-contacts__item > a {
justify-content: center;
@media (min-width: $screen-xl-min) {
justify-content: left;
}
}

.footer-contacts__address {
    justify-content: center;
    text-align: center;
    color: $main-color;
    transition-property: color, background-color, fill, box-shadow, border-color, opacity, visibility, transform;
    transition-duration: $trans-duration;
    transition-timing-function: $cubic;
        &:hover,
        &:focus {
            color: $accent-color;
            fill: $accent-color;
        }
}
.footer-contacts__tel {
    color: $footer-contacts-color;
    &:hover,
    &:focus {
            color: $accent-color;
        }
}
.footer-contacts__mail {
    color: $footer-contacts-color;
    &:hover,
    &:focus {
            color: $accent-color;
}
}
.footer-contacts__tel,
.footer-contacts__mail,
.footer-contacts__address {
    text-decoration: none;
}
.footer-contacts__tel {
    white-space: nowrap; 
}
        .page-footer {
            background-color: $footer-color;
            margin: auto;
            padding: 60px 0;
        }
    
        .footer-contacts {
            padding: 0;
            margin: 0;
        }
    
        .footer-contacts__item:not(:last-child) {
            margin-bottom: 8px;
            @media (min-width: $screen-xl-min) {
            margin-bottom: 9px;
            } 
        }
.footer-contacts__mail,
.footer-contacts__tel {
    display: flex;
    justify-content: center;
    transition-property: color, background-color, fill, box-shadow, border-color, opacity, visibility, transform;
    transition-duration: $trans-duration;
    transition-timing-function: $cubic;
}

.page-footer__join {
    display: flex;
    justify-content: center;    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 20px;
    @media (min-width: $screen-xl-min) {
    display: block;
    
    }
}
.page-footer__container {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: $screen-md-min) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }
}
.page-footer__social {
    margin: 0 auto;
    justify-content: center;
    padding-top: 60px;
    @media (min-width: $screen-md-min) {
    padding-top: 5px;
    }
    @media (min-width: $screen-xl-min) {
    justify-content: left;
    padding-top: 12px;
    }
}
.footer-contacts {
    justify-content: center;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    list-style-type: none;
    
    @media (min-width: $screen-xl-min) {
    justify-content: left;
}
}
.footer-subscribe__newsletter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    @media (min-width: $screen-xl-min) {
    display: block;
    }
}
.footer-subscribe {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    justify-content: center;
    margin: 0 auto;  
    @media (min-width: $screen-xl-min) {
    justify-content: flex-end;
    padding-top: 12px;
    margin: 0 0 0 auto;
    max-width: 570px;
}
}
.footer-subscribe__email {
    width: 100%;
    height: 50px;
    background-color: inherit;
    border: 1px solid $footer-border-color;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px $foter-shadow);
    color: $main-color;
@media (min-width: $screen-xl-min) {
    width: 358px;
    padding-left: 16px;
}

    &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            display: flex;
            align-items: center;
            color: $footer-contacts-color;
        }
}

.footer-subscribe__button {
    width: 200px;
    height: 50px;
    padding: 0;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px $foter-shadow;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $main-color;
}
.footer-subscribe__icon {
    margin-left: 10px;
    fill: currentColor;
}
.footer-subscribe__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @media (min-width: $screen-xl-min) {
    gap: 12px;
    }
}
.footer-subscribe__button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
