.container {
    display: flex;
    padding: 0 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    @media (min-width: $screen-sm-min) {
        justify-content: space-between;
        width: 480px;
        flex-grow: 1;
    }
    @media (min-width: $screen-md-min) {
        width: 768px;
    }
    @media (min-width: $screen-xl-min) {
        width: 1200px;
    }

}
.clients .container {
    flex-direction: column;
}