.container {
    display: flex;
    padding: 0 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    @media (max-width: $screen-sm-min) {
        justify-content: space-between;
        flex-grow: 1;
    }
}
.clients .container {
    flex-direction: column;
}