.logo {
    display: block;
    padding-bottom: 0;
    align-content: center;
    padding: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;  
}

.logo__1half {
    color: $accent-color;
}

.logo__2half {
    color: $logo2half-color;
}
.logo__2half--inverse {
    color: $main-color;
}
.page-footer__logo {
    margin-bottom: 20px;
}